@page "/"
@inject IChampGameStatsService champGameStatsService
@inject IBanMeInfoService banMeInfoService
@attribute [StreamRendering(true)]

<PageTitle>BanMe</PageTitle>

<center><h2>Recommended Bans</h2></center>

<br />
<br />

<div class="container">
	<div class="row row-cols-lg-5 gx-4">
		<div class="col">
			<center>
				<h3>Top</h3>
				@foreach (var entry in topBans)
				{
					<ChampEntry ChampionName="@entry.ChampionName" WinRate="@AsPercentageOf(entry.TopWins, entry.TopPicks)" PickRate="@AsPercentageOf(entry.TopPicks, totalGames)" BanRate="@AsPercentageOf(entry.Bans, totalGames)" ImageSource=@GetChampSquare(entry.ChampionName) />
				}
			</center>
		</div>
		<div class="col">
			<center>
				<h3>Mid</h3>
				@foreach (var entry in midbans)
				{
					<ChampEntry ChampionName="@entry.ChampionName" WinRate="@AsPercentageOf(entry.MidWins, entry.MidPicks)" PickRate="@AsPercentageOf(entry.MidPicks, totalGames)" BanRate="@AsPercentageOf(entry.Bans, totalGames)" ImageSource=@GetChampSquare(entry.ChampionName) />
				}
			</center>
		</div>
		<div class="col">
			<center>
				<h3>Jungle</h3>
				@foreach (var entry in jungleBans)
				{
					<ChampEntry ChampionName="@entry.ChampionName" WinRate="@AsPercentageOf(entry.JungleWins, entry.JunglePicks)" PickRate="@AsPercentageOf(entry.JunglePicks, totalGames)" BanRate="@AsPercentageOf(entry.Bans, totalGames)" ImageSource=@GetChampSquare(entry.ChampionName) />
				}
			</center>
		</div>
		<div class="col">
			<center>
				<h3>Bot</h3>
				@foreach (var entry in botBans)
				{
					<ChampEntry ChampionName="@entry.ChampionName" WinRate="@AsPercentageOf(entry.BotWins, entry.BotPicks)" PickRate="@AsPercentageOf(entry.BotPicks, totalGames)" BanRate="@AsPercentageOf(entry.Bans, totalGames)" ImageSource=@GetChampSquare(entry.ChampionName) />
				}
			</center>
		</div>
		<div class="col">
			<center>
				<h3>Supp</h3>
				@foreach (var entry in suppBans)
				{
					<ChampEntry ChampionName="@entry.ChampionName" WinRate="@AsPercentageOf(entry.SuppWins, entry.SuppPicks)" PickRate="@AsPercentageOf(entry.SuppPicks, totalGames)" BanRate="@AsPercentageOf(entry.Bans, totalGames)" ImageSource=@GetChampSquare(entry.ChampionName) />
				}
			</center>
		</div>
	</div>
</div>

@code {

	List<ChampGameStats> champGameStats = new();
	List<ChampGameStats> topBans = new();
	List<ChampGameStats> midbans = new();
	List<ChampGameStats> jungleBans = new();
	List<ChampGameStats> botBans = new();
	List<ChampGameStats> suppBans = new();

	private string currentPatch = "";

	private int totalGames = 0;

	protected override async Task OnInitializedAsync()
	{
		champGameStats = await champGameStatsService.GetAllChampGameStats();
		topBans = await champGameStatsService.GetRecommendedBans(Roles.TOP, 16);
		midbans = await champGameStatsService.GetRecommendedBans(Roles.MIDDLE, 16);
		jungleBans = await champGameStatsService.GetRecommendedBans(Roles.JUNGLE, 16);
		botBans = await champGameStatsService.GetRecommendedBans(Roles.BOTTOM, 16);
		suppBans = await champGameStatsService.GetRecommendedBans(Roles.SUPPORT, 16);

		currentPatch = await banMeInfoService.GetPatch();

		totalGames = await banMeInfoService.GetRecordedGamesCount();
	}

	protected string GetChampSquare(string champion)
	{
		return $"https://cdn.communitydragon.org/{currentPatch}/champion/{champion}/square";
	}
}

